/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/08/2017, 11:59:33 AM
    Author     : Benjo
*/

#logo {
    float:left; top:0; left:0;
}

#nav
{
    list-style: none;
}

#nav ul
{
    list-style-type: none;
    margin-top: 0;
    max-width: 80%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#nav li:last-child
{
    float: right;
    margin-right: 50px;
    text-align: center;

}

#nav li
{
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    float: left;
    position: relative;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover
{
    color: #b57c28;
}

.navigation
{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: black;
    box-shadow: 3px 3px 3px #1E1B1B;
    margin: 0 auto;
}

.active {
    background-color: #b57c28;
}

/* Sticky footer styles
-------------------------------------------------- */

/*html,*/
/*body {*/
    /*height: 100%;*/
    /*!* The html and body elements cannot have any padding or margin. *!*/
    /*padding-top: 70px; !* Required padding for .navbar-fixed-top. Change if height of navigation changes. *!*/
/*}*/

/*.navbar-fixed-top .nav {*/
    /*padding: 15px 0;*/
/*}*/

/*.navbar-fixed-top .navbar-brand {*/
    /*padding: 0 15px;*/
/*}*/

/*@media(min-width:768px) {*/
    /*body {*/
        /*padding-top: 100px; !* Required padding for .navbar-fixed-top. Change if height of navigation changes. *!*/
    /*}*/

    /*.navbar-fixed-top .navbar-brand {*/
        /*padding: 15px 0;*/
    /*}*/
/*}*/

/*.login {*/
    /*margin-bottom:5px;*/
/*}*/
