@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body 
{
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    color: white;
    background-image: url(../Images/Background/GBBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body p
{
    font-size: 0.8em;
    line-height: 1.28;
}
/**End of Body Section**/

/** Wrapper Section **/
#wrapper
{
    width: 1080px;
    height: 1500px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
}

#wrapper_top10
{
    width: 1080px;
    height: 3300px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;    
}
/**End of Wrapper Section**/

/** Sitemap Section **/
.footer
{
    width: 1080px;
    height: 230px;
    background-color: black;
    background-size: cover;
    border: 3px;
    margin: 0 auto;
    border-top: thick solid #5F5E5E;
}
/* Header Section */

#wrapper_game
{
    width: 1080px;
    height: 2300px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;   
}

/** Banner Section (Leaves a space between the navigation bar and the wrapper) **/
#banner
{
    width: 1080px;
    margin: 50px  0 0 320px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 50%;
    left: 50%;
    border-radius: 10px;
    height: 50px;
}
/** End of Banner Section (Leaves a space between the navigation bar and the wrapper) **/

/* Sidebar Section*/

#sidebar
{
    position: relative;
    float: right;
    width: 350px;
    height: 2100px;  
    text-align: center;
    text-decoration: white;
    font-size: 16px;
    border-left: thick solid #5F5E5E;
}

#sidebar a {
    color: white;
    text-decoration: none;
}

#sidebar a:hover
{
    color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Navigation Bars Section */

#logo { 
    float:left; top:0; left:0; 
}

#nav
{
    list-style: none;
}

#nav ul
{
    list-style-type: none;
    margin-top: 0;
    max-width: 80%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#nav li:last-child
{
    float: right;
    margin-right: 50px;
    text-align: center;
    
}

#nav li
{
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    float: left;
    position: relative;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover
{
    color: #b57c28;
}

.navigation
{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: black;
    box-shadow: 3px 3px 3px #1E1B1B;
    margin: 0 auto;
}

.active {
    background-color: #b57c28;
}
/* End of Navigation Bars Section */

/** Drop-down Button Section **/

.dropbtn {
    display: inline-block;
    background-color: transparent;
    padding: 14px 16px;
    border: none;
    color: white;
    text-align: center;
    float: bottom;
    position: relative;
    font-size: 20px;
}

.dropdown {
    display: inline-block;   
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: black;
    min-width: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
}

.dropdown-content-sub{
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    visibility: hidden;
    background-color: black;
    min-width: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff; opacity: 0.7}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover .dropdown-content-sub{
    visibility: visible;
    display: block;
}
/** End of Drop-down Button Section **/

/** Platform Section **/
.platform_columns
{
    position: relative;
    float: left;
    width: 1200px;
    margin: 15px 0 0 25px;
}
/** End of Platform Section **/

/**Sets the size of each content's column**/

.columns
{
    position: relative;
    float: left;
    width: 677px;
    margin: 25px 0 0 25px;
}

.columns_top10{
    position: relative;
    width: 800px;
    margin: 25px 0 0 90px;
}

.columns_top10 a {
    text-decoration: none;
    color: white;
}

.columns_top10 a:hover {
    text-decoration: none;
    color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
/** End --- Sets the size of each content's column**/

/*About Section - Column*/
.columns_about
{
    position: relative;
    float: left;
    width: 1000px;
    margin: 25px 25px 25px 25px;
}
/*End of About Section - Column*/


/*Home-Articles Section*/
#article_column
{
    float: left;
    width: 675px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    position: relative;
}

#article_column a {
    color: white;
    text-decoration: none;
}

#article_column a :hover
{
    color: red;
}
/*End of Home-Articles Section*/


/*News Section*/
#news_area
{
    float: left;
    width: 675px;
    height: 400px;
    text-align: center;
    position: relative;
}

.news1-caption 
{
    position:absolute;
    bottom:0;
}
/**End of News Section**/

/*review wrapper content*/
#review_col1{

}


/*Login Section*/
#login_wrapper
{
    width: 1080px;
    height: 720px;
    background-image: url(../Images/LoginWallpaper.jpg);
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;

}

.loginbox
{
    margin: 200px 300px;
}

/*Signup page*/
#Sign-In
{ 
    border:3px solid #a1a1a1;
    padding:9px 35px; 
    background:black; 
    width:400px; 
    height: 180px;
    border-radius:20px; 
    box-shadow: 7px 7px 6px; 
    color: red;
    font-family: cursive;   
}

#Sign-In a
{
    font-family: sans-serif; 
    font-size: 12px; 
    color: white; 
    text-decoration: none;
}

#Sign-In a:hover
{
    text-decoration: none;
    color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
/*Design for login and signup button*/
#button
{ 
    float: right;
    border-radius:5px; 
    width:100px; 
    height:40px; 
    background:black; 
    font-weight:bold; 
    font-size:14px;
    color:white;

}

/*Design for favourites button on game articles*/
#favebtn {
    border-radius: 3px;
    width: 20%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    float: right;   
    background-color: black;
    color: white;
}

#favebtn:hover {
    color: red;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0%;
    border-radius: 3px 0 0 3px;  

}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {  
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 80%;
    left: 0%;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    align-self: center;
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/** End of Fading Animation**/


/* Comment field layout*/
textarea
{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 18px;
}

/* Username field layout*/
input
{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 18px;
}

/* Submit button layout*/
input[type=submit] {
    border-radius: 6px;
    padding: 6px 20px;
}

/* Reset button layout*/
input[type=reset] {
    border-radius: 6px;
    padding: 6px 20px;
}

/* Pagination Section*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #b71222;
    color: white;
    border: 1px solid #b71222;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
/** End of Pagination Section**/

/** Article Border **/
.border
{
    border-radius: 10px;
    width: 680px;
    height: 250px;
    padding: 5px;
    background-color: #333333;
    opacity: 0.6;
    filter: alpha(opacity=100)
}

.border p
{
    color: #ffffff;
}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}

