.w3-text-jd{
    color:#dd9933;
}

.w3-jd{
	background: #dd9933;
	color: black;
}
.icon-jd{
	color:#dd9933;
}

.hra{
	border:0;
	border-top:1px solid #000000;
	margin:20px 0;
}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}



