.w3-text-jd{
    color:#dd9933;
}

.w3-jd{
	background: #dd9933;
	color: black;
}

.w3-jf{
    background-image: url("Images/john.jpeg"); 
}
.icon-jd{
	color:#dd9933;
}

.hra{
	border:0;
	border-top:1px solid #000000;
	margin:20px 0;
}

html,body,h2,h3,h4,h5,h6 {
    font-family: 'Exo', sans-serif !important;
}
h1 {
    font-family: 'Exo', sans-serif !important;
    position: absolute;
    top: 15%;
    right: 29.625%;
    color: #dd9933
}

div.image {
   background-image : image;
}

ha {
    width: 500px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}


